<section>
<h1>Neem vrijblijvend contact op!</h1>
<article id="slimovation_contact_us">
  <p>Bent u geinteresseerd geraakt in onze werkwijze of vraag u zich af wat wij voor uw bedrijf kunnen betekenen. Neem dan gerust contact op! </p><br />
  <h2>Wij zijn te bereiken op <strong>0628533533</strong> en <strong>info@slimovation.eu</strong></h2>
</article>
<article>
<%= simple_form_for(@contact_form, :url => contact_send_url, :html => { :method => :post } ) do |f|%>
  <% if @contact_form.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this event from being saved:</h2>
     <ul>
     <% @contact_form.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
   <% end %>   
      <%= f.input :email, label: 'E-mailadres', :input_html => { :size => 30 }, class: 'contact_mail' %>
      <%= f.input :name %>
      <%= f.input :company %>
    <div id="captcha">
      <%= f.input :nickname, label_html: { class: "kip" }, input_html: { class: "kip"}, label: 'Naam' %>
    </div>
      <%= f.input :message, as: :text, label: 'Bericht ', id: 'contact_message' %>
      <%= f.button :submit, 'Verzenden', class: 'green_button', id: 'contact_send' %>  
  <% end %>
</article>
</section>
